body{
	width: 1024px;
	height: 768px;
}
@font-face {
	font-family: FrutigerNeueWBold; 
	src: url(FrutigerNeueW01-Bd.otf); 
}
h1{
	font-family: FrutigerNeueWBold;
}
.container{
	margin: 0 auto;
}
.tab {
	width: 30%;
	height: 50px;
}
.page {
	display: none;
}
.active_p{
	display: block;
	width: 100%;
	height: 718px;
}

.graphics{
	width: 597px;
	height: 361px;
	border: 2px solid #4a2278;
	border-top-right-radius: 36px;
	border-bottom-left-radius: 36px;
}